<div class="container d-flex align-items-center" style="height: 100vh;">
    <div class="row w-100 d-flex justify-content-center">
        <div class="col-md-4">
            <div class="card p-3 m-auto">
                <div class="text-center">
                    <p>
                        Error! 404 Not found
                    </p>
                    <a class="btn btn-primary" style="color: white;text-decoration: none;" href="/">Go to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>