<div class="d-flex align-item-center justify-content-between" [ngClass]="{'strike':strike}">
    <div class="farmer-detail">
        <img [src]="profilePicture" style="width: 1.5rem;" alt="">
        <div class="farmer-info">
            <p class="name">{{fullName}}</p>
            <p class="contact">
                {{contactNo}}
            </p>
        </div>
    </div>
    <ng-template #notChecked>
        <nb-badge text="Not verified" status="danger" position="top right">
        </nb-badge>
    </ng-template>
    <div class="actions d-flex">
        <ng-content></ng-content>
    </div>

</div>